body {
    background-image: linear-gradient(to right, #0d0d0d, #0d0d0d, #0d0d0d, #0d0d0d, #0d0d0d);
    
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    align-items: center;
    justify-content: center; 
    font-size:large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

