<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Template</title>
</head>
<body>
    <!--PROMESAS-->
    <h1>
        Promesas
    </h1>
   <script>
    const irAlRestaurante = () => {
        return 'llegue al restaurante'
    }

    const pedirComida = () => {
     return new Promise((resolve, reject) => {
        setTimeout(() => {
            resolve('recibo comida')
            //reject('no hay comida')
          },1000)
        })
    }
        
    const comer = () => {
        return 'termino de comer'
    }
    
    const pagar = () => {
        return 'terminar de pagar'
    }
    
    const irse = () => {
        return 'llegar a casa'
    }
    
    console.log(irAlRestaurante ())
    pedirComida().then(result => {
        console.log('acción completada: ', result)
        console.log(comer())
        console.log(pagar())
        console.log(irse())
    }, result => {
      console.log('acción rechazada: ', result) //-> forma correcta
    })    
    .catch(error => {    // no está del todo mal pero es mejor la de arriba
        console.log('error: ', error) 
    })    
    .finally(() => {
        console.log(irse())
    })
    
    console.log('charlo con mi acompañante')
   
    </script>
     <!--Spread operator-->
    <script>    
    const nums1 = [1,2,3,4]
    console.log(nums1)
    const nums2 = [... nums1, 5]
    console.log(nums2)

    const persona = {
        name: 'Seba',
        country: 'Argentina'
    }
    
    
    const persona2 = {
        ...persona,
        name:'Juan',
        age: 26
}
console.log(persona)
console.log(persona2)        
   </script>
   <!--Desestructuracón-->
   <script>
       const edades = [12,23,34,41]

       const[edadJuan, edadHernan, edadSeba, edadMatias] = edades
       console.log(edadHernan)
   </script>
   <!--Desestructuracón de objetos-->
   <script>
    const individuo1 = { 
        name: 'Pablo',
        age: 30
    }

    const individuo2 = {
        name: 'Ivan',
        age: 35
    }    
    console.log(individuo1.name)

    const {age: agePablo } = individuo1

    console.log(agePablo)

    const { age: ageIvan } = individuo2

    console.log(ageIvan)
   </script> 
   <script>
    console.log(fetch(''))
   </script>
</body>
</html>